.bodySection {
    width: 100%;
    height: 700px;
    display: flex;
    column-gap: 5%;
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.2);
  }
  /* width */
.customScroll::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .customScroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .customScroll::-webkit-scrollbar-thumb {
    background: #8888889b;
  }
  .bodySection .mainContentWrapper {
    width: 65%;
    height: 100%;
    background-color: white;
    box-shadow: var(--primary-Boxshadow);
    border-radius: 20px;
  }
  .bodySection .mainContentWrapper .image {
    width: 100%;
    height: 50%;
    background-color: #333;
  }
  .bodySection .mainContentWrapper .overViewDetails{
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  .bodySection .mainContentWrapper .heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    cursor: pointer;
  }

  .bodySection .mainContentWrapper .heading .rightHeading{
    display: flex;
    align-items: center;
    column-gap: 50px;
    color: #161616c4;
  }
  .rightHeading .active{
    color: black;
    font-weight: 800;
    border-bottom: 1px solid black;
  }
  .bodySection .mainContentWrapper .heading .rightHeading h5:hover{
    color: black;
  }
  .bodySection .mainContentWrapper table{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  table thead tr{
    display: flex;
    width: 100%;
    height: 40px; 
    border-bottom: 1px solid #3b393940;
    align-items: center;
    justify-content: center;
  }
table th{
    width: calc(100% / 5);
    align-items: center;
    text-align: center;
  }
  table tbody{
    max-height: 202px;
    overflow-y: scroll;
    cursor: pointer;
    flex-direction: column;
  }
table tbody tr {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #3b393940;
    transition: ease-in-out 0.3s;
    min-height: 50px;
    max-height: auto;
  }
  table tbody tr:nth-child(even){
    background-color:#3b393923 ;
  }
table tbody tr td{
    width:calc(100% / 5);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 5px;
    font-size: 13px;
    word-wrap: break-word;
    white-space: normal; 
    overflow: hidden;
  }
  table tbody tr:hover{
    background-color: #3b393940;
  }
  .bodySection .relatedPostContainer {
    width: 30%;
    background-color: white;
    box-shadow: var(--primary-Boxshadow);
    border-radius: 20px;
    padding: 12px 20px;
    overflow-y: auto;
  }
  .bodySection .relatedPostContainer .headingText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3333334b;
    padding-bottom: 10px;
  }
.stocks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #3b393940;
}
.stocks:hover{
    background-color: rgba(211, 211, 211, 0.626);
}
.stocks .stock-details p{
    color: rgb(25, 199, 13);
    text-align: right;
}
.chartDiv{
  width: calc(100% - 10px);
  display:flex;
  height: 50%;
  column-gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.chart{
  border: 1px solid #000;
  border-radius: 20px;
}
.dataVisibleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}
.dataVisibleDiv div{
  background-color: #000;
  width: 20px;
  height: 20px;
  color: aliceblue;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
} 