.bodySection {
    width: 100%;
    height: 700px;
    display: flex;
    column-gap: 5%;
    padding: 30px;
    background-color: rgba(211, 211, 211, 0.2);
  }
  /* width */
.customScroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #8888889b;
}
  .bodySection .mainContentWrapper {
    position: relative;
    width: 65%;
    height: 100%;
    background-color: white;
    box-shadow: var(--primary-Boxshadow);
    border-radius: 20px;
  }
  .bodySection .mainContentWrapper .image {
    width: 100%;
    height: 50%;
    background-color: #333;
    border-radius: 20px;
  }
  .mainContentNewsImage{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .bodySection .mainContentWrapper .textContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
  .bodySection .mainContentWrapper .textContent p {
    color: #333333dc;
  }
  .bodySection .mainContentWrapper .textContent  a{
    text-decoration: none;
    margin-left: 20px;
  }
  .bodySection .mainContentWrapper .textContent .authorName{
    color: black;
  }
  .bodySection .relatedPostContainer {
    position: relative;
    width: 30%;
    background-color: white;
    box-shadow: var(--primary-Boxshadow);
    border-radius: 20px;
    padding: 12px 20px;
    overflow-y: auto;
  }
  .bodySection .relatedPostContainer .headingText {
    border-bottom: 1px solid #3333334b;
    padding-bottom: 10px;
  }
  .bodySection .relatedPostContainer .newsWrapper {
    padding: 20px 0;
    overflow-y: auto;
  }
  .bodySection .relatedPostContainer .newsCard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-bottom: 1px solid #3b393940;
    padding: 20px;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  .bodySection .relatedPostContainer .newsCard:hover {
    background-color: rgba(211, 211, 211, 0.626);
  }
  .relatedPostContainer .newsCard .img {
    width: 80px;
    height: 80px;
    background-color: #333;
  }
  .relatedPostContainer .newsCard .details {
    width: 75%;
  }
  .relatedPostContainer .newsCard .details h3 {
    font-size: 14px;
    margin-bottom: 6px;
    line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .relatedPostContainer .newsCard .details p {
    font-size: 11px;
    color: rgba(49, 47, 47, 0.686);
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .relatedPostContainer .newsCard .date{
    font-size: 9px;
    white-space: nowrap;
    position: absolute;
    bottom: 3px;
    right: 10px;
  }
  .img .newsImageRelatedNews{
    width: 80px;
    height: 80px;
  }

  .loader{
    width: 48px;
    height: 48px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
    border-radius: 50%;
    display: none;
  }
  .loader::before,
  .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #1b1bbb;
    animation: prixClipFix 2s linear infinite;
  }
  .loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #ff3d00;
  }
  
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  @keyframes prixClipFix {
    0% {
      clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    75%,
    100% {
      clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
  }
  