@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-Boxshadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: "Poppins", serif;
}
.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  box-shadow: var(--primary-Boxshadow);
}
.header .rightNav{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}
.header .rightNav  a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  transition:ease-in-out 0.2s;
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: black;
  padding: 50px;
  color: aliceblue;
}
.footer .footerContainer{
  width: 100%;
}
.footer .footerContainer .footertHeader{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 20px ;
  width: calc(100% - 50px);
}
.footer .footerContainer .footerContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:calc(100% - 60px);
}
.footerContent .address{
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  width: 70%;
  row-gap:10px;
}
.footerContent .address p{
  margin-left: 10px;
}
.footerContent .address b,
.footerContent .address p{
  display: inline-block;
}
.footerContent .usefulLinks{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footerContent .usefulLinks a{
  text-decoration: none;
  color: rgba(240, 248, 255, 0.619);
  text-align: center;
  font-size: 14px;
  transition:ease-in-out 0.3s ;
}
.footerContent h3{
  width: max-content;
  border-bottom: 1px solid aliceblue;
}
.footerContent .usefulLinks a:hover{
  color: aliceblue;
}
.header .rightNav a:hover{
  color:black;
}
.header .rightNav .active{
  font-weight: 600;
  color: black;
}
